@use '../abstracts/variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  background-color: v.$primary-bg;
  font-family: 'Poppins', sans-serif, Arial;
  color: v.$text-color;
  line-height: 1.6;
  padding-top: calc(v.$navbar-height + 10px);
}

h2 {
  font-size: 1.75rem;
  color: v.$title-color;
  font-weight: 600;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  color: v.$text-color;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  $navbar-height: 55px !default;
  body {
    padding-top: calc($navbar-height + 10px);
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  $navbar-height: 50px !default;
  body {
    padding-top: calc($navbar-height + 10px);
  }

  h2 {
    font-size: 1.25rem;
  }
}

@media (min-width: 1921px) {
  $navbar-height: 80px !default;
  body {
    padding-top: calc($navbar-height + 15px);
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 2561px) {
  $navbar-height: 100px !default;
  body {
    padding-top: calc($navbar-height + 20px);
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}