@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.card {
  background-color: v.$secondary-bg;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px v.$shadow;
  @include m.transition;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px v.$shadow;
  }

  &-img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1921px) {
  .card-img {
    max-height: 250px;
  }
}

@media (min-width: 2561px) {
  .card-img {
    max-height: 300px;
  }
}