$primary-bg: #f5f7fa;        // Fondo claro
$secondary-bg: #ffffff;      // Blanco para contraste
$text-color: #333333;        // Texto oscuro
$title-color: #0b4c97;       // Azul para títulos
$link-color: #5a6268;        // Gris más oscuro
$link-hover: #032d5d;        // HOVER
$footer-bg: #2d3748;         // Gris oscuro para footer
$shadow: rgba(0, 0, 0, 0.1); // Sombra suave
$transition: 0.3s ease;      // Transición fluida
$accent-color: #48bb78;      // Verde suave para botones
$navbar-height:14vh;        // Altura del navbar